.main{
    height: 85px !important;
}
header{
    background-color: #F9FBFF !important;
}
.prevheader a:hover{
    color:#7A73FF !important;
}
footer{
     height: 450px !important;
     background: url("../img/footer-bg.svg") no-repeat !important;
     background-size:  cover !important;
     align-items: flex-end !important;

}
.circle-block{
    position: absolute;
}
.circle{
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    box-shadow: 2px -0.5px 4px 0px rgba(0, 0, 0, 0.05),-2px 4px 8px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.4);
    opacity: 1;
    transition: 0.2s;
    z-index: 1;
}
.circle:hover{
    /*opacity: 0;*/
    transition: 0.2s;
    box-shadow: 2px -0.5px 4px 0px rgba(0, 0, 0, 0),-2px 4px 8px 0px rgba(0, 0, 0, 0);
    background: none;
    backdrop-filter: none;
}

.circle-block:nth-of-type(1) {
    left: 1%;
    top: 43.6%;
}
.circle-block:nth-of-type(2) {
    left: 15.7%;
    top: 40.5%;
}
.circle-block:nth-of-type(3) {
    left: 44.7%;
    top: 33.5%;
}
.circle-block:nth-of-type(4) {
    left: 65%;
    top: 27.6%;
}
.circle-block:nth-of-type(5) {
    left: 81.5%;
    top: 20.4%;
}
.hover-line{
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: fit-content;
    z-index: 0;
}
.line-text{

}
.aboutme-text{
    display: flex;
    flex-direction: column;
}
h1{
    color: #04101C;
    font-size: 72px;
    font-style: normal;
    font-weight: 720;
    line-height: 84px;
    letter-spacing: 2.88px;
    padding: 0 325px;
}
.aboutme-text p{
    max-width: 1011px;
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.56px;
    padding-top: 20px;
    margin: 0 auto;
}
.group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group img{
    width: 1092px;
    height: 728px;
    margin-top: 144px;
}
.group h1{
    color: #04101C;
    font-size: 56px;
    font-style: normal;
    font-weight: 720;
    line-height: 64px;
    letter-spacing: 2.24px;
    margin: 50px auto 0 0;
}
.group p{
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 1px;
    max-width: 950px;
    padding: 10px;
    margin: 0;

}

footer svg, footer p{
    margin-bottom: 50px;
}
.abt{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.abt p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-variation-settings: 'wdth' 112, 'GRAD' 0, 'slnt' 0, 'XTRA' 486, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    text-align: right;
    margin-bottom: 0;
}
@media screen and (max-width: 1680px){
    h1{
        padding: 0 220px;
    }
}
@media screen and (max-width: 1440px) {
    .group h1{
        margin-left: 0;
    }
    h1{
        padding: 0 100px;
    }
}
@media screen and (max-width: 980px){
    .aboutme-text {
        display: flex;
        flex-direction: column;
        padding: 0 120px;
    }
    .group p{
        padding: 10px 120px;
        line-height: 32px;
    }
    .group img{
        margin-top: 104px;
    }
    h1{
        font-size: 64px;
        padding: 0 92px;
        line-height: 72px;
    }
    .aboutme-text p{
        max-width: 900px;
        line-height: 32px;
    }
    .group img{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    h1{
        margin-left: unset;
        font-size: 52px;
        font-style: normal;
        font-weight: 720;
        line-height: 60px;
        letter-spacing: 1.04px;
        padding: 0 65px;
    }
    .aboutme-text p{
        max-width: 560px;
        margin-left: 20%;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.4px;
    }
    .group img{
        width: 100%;
        height: auto;
    }
    .group p{
        max-width: 556px;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.4px;
    }
    .group h1{
        font-size: 40px;
        font-style: normal;
        font-weight: 720;
        line-height: 44px;
        letter-spacing: 0.8px;
        max-width: 483px;
    }
}
@media screen and (max-width: 480px){
    footer{
        justify-content: flex-end!important;
        gap: 52px!important;
        background: url("../img/footer-bg.svg") no-repeat center  !important;
        height: 350px!important;
    }
    footer svg{
        margin-bottom: 0;
    }
    footer svg, footer p{
        margin-left: 5%;
    }
    h1{
        font-size: 40px;
        font-style: normal;
        font-weight: 720;
        line-height: 44px;
        letter-spacing: 0.8px;
        padding: 0 20px;
    }
    .aboutme-text {
        display: flex;
        flex-direction: column;
        padding: 0 60px;
    }
    .aboutme-text p{
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.32px;
        margin-left: 0;
        max-width: 300px;
        padding-top: 0;
    }
    .group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 60px;
    }
    .group p{
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.32px;
        max-width: 100%;
        padding: 10px 0;
    }
    .group h1{
        font-size: 28px;
        font-style: normal;
        font-weight: 720;
        line-height: 36px;
        letter-spacing: 0.56px;
        max-width: 200px;
    }
    .group img {
        width: 430px;

        margin-top: 60px;
    }
    .abt{
        margin: 0;
    }
    .abt p{
        text-align: left;
    }
}