.main{
    height: fit-content !important;
}
header{
    background-color: #F9FBFF !important;
}
.prevheader a:hover{
    color:#7A73FF !important;
}
#blog{
    padding-top: 50px!important;
    flex-direction: column !important;
}
footer{
    height: 450px !important;
    background: url("../img/footer-bg.svg") no-repeat !important;
    background-size:  cover !important;
    align-items: flex-end !important;
}
.blog-text a{
    text-decoration: none;
    cursor: pointer;
    color: #04101C;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.56px;
    max-width: 573px;
    transition: 0.4s;
}
.blog-text a:hover{
    color:#7A73FF;
}
.n01{
    display: none;
}

@keyframes disabler {
    from{
       opacity: 1;
    }
    to{
        opacity: 0;
        display: none;
    }
}
@keyframes enabler {
    from{
        opacity: 0;
        display: flex;
    }
    to{
        opacity: 1;
    }
}
@keyframes turnleft{
    from{
        display: flex;
        transform: translate(1920px);
    }
    to{
        transform: translate(0px);
    }
}
@keyframes turnright{
    from{
        transform: translate(0px);
    }
    to{
        transform: translate(1920px);
        display: none;
    }
}
.anim-disabler{
    animation-name: disabler;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.anim-enabler{
    animation-name: enabler;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.anim-left{
    animation-name: turnleft;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.anim-right{
    animation-name: turnright;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.changing-h1{
    color: #04101C;
    font-size: 56px;
    font-style: normal;
    font-weight: 720;
    line-height: 64px;
    letter-spacing: 2.24px;
    max-width: 1200px;
}
.number{
    margin-top: 7px;
    color: #04101C;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1.68px;
}
.small-text{
    max-width: 811px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 226;
    line-height: 28px;
    letter-spacing: 0.4px;
    margin-left: 50%;
}
.big{
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.56px;
    max-width: 1162px;
}
h2{
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.64px;
}
.n02{
    display: none;
}
.h1-blog{
    margin-left: -143px
}
@media screen and (max-width: 1440px) {
    .h1-blog{
        margin-left: -80px;
    }
    .changing-h1{
        color: #04101C;
        font-size: 52px;
        font-style: normal;
        font-weight: 720;
        line-height: 60px;
        letter-spacing: 2.08px;
        max-width: 830px;
    }
    .small-text{
        margin-left: 30%;
    }
}
@media screen and (max-width: 980px) {
    .blog-text a{
        color: #04101C;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0.48px;
    }
    .blog-text .second{
        max-width: 517px !important;
    }
    .h1-blog{
        margin-left: -45px;
    }
    .changing-h1{
        color: #04101C;
        font-size: 48px;
        font-style: normal;
        font-weight: 720;
        line-height: 60px;
        letter-spacing: 2.08px;
        max-width: 720px;
    }
    .small-text{
        margin-left: 10%;
    }
    .back{
        z-index: 9999;
    }
    .meme{
        width: 980px;
    }
    h2{
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.64px;
    }
    .big{
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0.48px;
        max-width: 800px;
    }
}
@media screen and (max-width: 720px){
    .changing-h1{
        max-width: 580px;
        font-size: 40px;
        font-style: normal;
        font-weight: 720;
        line-height: 44px;
        letter-spacing: 0.8px;
    }
    .meme{
        width: 100%;
    }
    .small-text{
        font-size: 16px;
        font-style: normal;
        font-weight: 226;
        line-height: 24px;
        letter-spacing: 0.32px;
        max-width: 569px;
    }
    .number{
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.8px;
    }
    h2{
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.56px;
        max-width: 608px;
    }
    .big{
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.4px;
        max-width: 608px;
    }
}