.main{

    height: 85px !important;
}
header{
    background-color: #F9FBFF !important;
}
.prevheader a:hover{
    color:#7A73FF !important;
}
.blog-text {
    display: flex !important;
    gap: 32px !important;
    transition: transform 0.5s ease !important;
    transform: translateX(5px) !important;
    flex-wrap: wrap !important;
}
.blog-text-anim h2 {
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 20px !important;
}
.blog-text-anim p{
    font-family: Roboto Flex;
    font-size: 20px;
    font-weight: 300;
    line-height: 24.04px;
    letter-spacing: 0.06em;
    text-align: left;
    font-variation-settings: 'GRAD' 0, 'XOPQ' 96, 'XTRA' 487, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 514, 'YTUC' 712, 'slnt' 0, 'wdth' 130;
}
#blog{
    padding-top: 50px!important;
    flex-direction: column !important;
}
.blogline{
    display: none;
}
footer{
    height: 450px !important;
    background: url("../img/footer-bg.svg") no-repeat !important;
    background-size:  cover !important;
    align-items: flex-end !important;
}
.blog-text div a{
    text-decoration: none;
    cursor: pointer;
    color: #04101C;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.56px;
    max-width: 573px;
    transition: 0.4s;
}
.blog-text div a:hover{
    color:#7A73FF;
}
.n01{
    display: none;
}
.changing-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@keyframes disabler {
    from{
       opacity: 1;
    }
    to{
        opacity: 0;
        display: none;
    }
}
@keyframes enabler {
    from{
        opacity: 0;
        display: flex;
    }
    to{
        opacity: 1;
    }
}
@keyframes turnleft{
    from{
        display: flex;
        transform: translate(100%);
    }
    to{
        transform: translate(0%);
    }
}
@keyframes turnright{
    from{
        transform: translate(0px);
    }
    to{
        transform: translate(100%);
        display: none;
    }
}
.blog{

    width: 100%;
    overflow: hidden;
}
.blog-text{

    gap: 20px!important;
}
.anim-disabler{
    animation-name: disabler;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.anim-enabler{
    animation-name: enabler;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.anim-left{
    animation-name: turnleft;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    padding: 0 325px;
}
.anim-right{
    animation-name: turnright;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.anim-left img{
    width: 100%;
}
.back img{
    width: unset;
}
.changing-h1{
    color: #04101C;
    font-size: 56px;
    font-style: normal;
    font-weight: 720;
    line-height: 64px;
    letter-spacing: 2.24px;
    max-width: 1126px;
}
.number{
    margin-top: 7px;
    color: #04101C;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1.68px;
}
.small-text{
    max-width: 811px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 226;
    line-height: 28px;
    letter-spacing: 0.4px;
    margin: 0 30px 0 0;
}
.n1, .anim-left, .anim-right p, ul{
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.56px;
    max-width: 1162px;
}
h2{
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.64px;
}
.n02{
    display: none;
}
.h1-blog{
    font-family: Roboto Flex;
    font-size: 24px;
    font-weight: 720;
    line-height: 28.8px;
    letter-spacing: 0.04px;
    text-align: left;
    color: rgba(32, 157, 183, 1);
    font-variation-settings: 'wdth' 125, 'GRAD' 0, 'slnt' 0, 'XTRA' 487, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.blog-more{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.8px;
    display: none;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #04101C;
    color: #FFFFFF;
    text-decoration: none;
    width: fit-content;
}
#blog-anim{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 325px 10px;
}
footer svg, footer p{
    margin-bottom: 50px;
}
#tp{
    position: absolute;
    top: 0;
}
@media screen and (max-width: 1680px){
    #blog-anim{
        padding: 0 220px;
    }
    .blog-text{
        gap: 17px!important;
    }
    .anim-left{
        padding: 0 220px;
    }
}
@media screen and (max-width: 1440px) {
    .changing-h1{
        color: #04101C;
        font-size: 52px;
        font-style: normal;
        font-weight: 720;
        line-height: 60px;
        letter-spacing: 2.08px;
        max-width: 830px;
    }
    .small-text{
        margin-left: 30%;
    }
    #blog-anim{
        padding: 0 100px;
    }
    .anim-left{
        padding: 0 85px;
    }
}
@media screen and (max-width: 1280px){
    .blog-text-anim{
        max-width: 316px!important;
    }
    .blog-block img{
        width: 316px!important;
    }
    #blog-anim{
        padding: 0 100px;
    }
    .anim-left{
        padding: 0 100px;
    }
}
@media screen and (max-width: 980px) {
    .blog-text div a{
        color: #04101C;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0.48px;
    }
    .blog-text .second{
        max-width: 517px !important;
    }
    .changing-h1{
        color: #04101C;
        font-size: 48px;
        font-style: normal;
        font-weight: 720;
        line-height: 60px;
        letter-spacing: 2.08px;
        max-width: 720px;
    }
    .small-text{
        margin-left: 10%;
    }
    .back{
        z-index: 9999;
    }
    .meme{
        width: 980px;
    }
    h2{
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.64px;
    }
    .n1, .anim-left, .anim-right p, ul{
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0.48px;
        max-width: 800px;
    }
    #blog-anim{
        padding: 0 92px;
    }
    .anim-left{
        padding: 0 92px;
    }
}
@media screen and (max-width: 768px){
    .changing-h1{
        max-width: 580px;
        font-size: 40px;
        font-style: normal;
        font-weight: 720;
        line-height: 44px;
        letter-spacing: 0.8px;
    }
    .meme{
        width: 100%;
    }
    .small-text{
        font-size: 16px;
        font-style: normal;
        font-weight: 226;
        line-height: 24px;
        letter-spacing: 0.32px;
        max-width: 569px;
    }
    .number{
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.8px;
    }
    h2{
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.56px;
        max-width: 608px;
    }
    .n1, .anim-left, .anim-right p, ul{
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.4px;
        max-width: 608px;
    }
    .blog-more{
        display: flex;
    }
    .h1-blog{
        font-size: 52px;
        font-style: normal;
        font-weight: 720;
        line-height: 60px;
        letter-spacing: 1.04px;
    }
    .blog-text div a{
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.4px;

    }
    .blog-text .second{
        max-width: 271px!important;
    }
    #blog-anim{
        padding: 0 65px;
    }
    .anim-left{
        padding: 0 65px;
    }
}
@media screen and (max-width: 480px){
    .blog{
        /*background: url("../img/blogline.svg") no-repeat;*/

    }
    .blogline{
        display: block;
        width: 100%;
        position: absolute;
        top: 10%;
        width: 100%;
        z-index: -1;
    }
    .blog-block {
        height: 430px;
        width: 100%;
        background: white !important;
    }
    .blog-block img {
        z-index: 1 !important;
    }
    #blog-anim{
        flex-direction: column;
        gap: 43px;
        padding: 0 20px;
    }
    .anim-left{
        padding: 0 20px;
    }
    .changing-title{
        flex-direction: column-reverse;
    }
    .h1-blog{
        font-size: 24px;
        font-style: normal;
        font-weight: 720;
        line-height: 28.8px;
        letter-spacing: 0.8px;
    }
    .blog-text .second{
        max-width: 271px!important;
        margin-block-end: 0;
        margin-block-start: 10px;
    }
    .blog-block img{
        max-width: 316px;
    }
    .blog-text{
        display: flex;
        flex-direction: column;
        gap: 56px;
    }
    .blog-text div a{
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.32px;
    }
    .blog-text .first{
        font-size: 12px!important;
        font-style: normal!important;
        font-weight: 231!important;
        line-height: 12px!important;
        letter-spacing: 1.2px!important;
    }
    .changing-h1{
        font-size: 28px;
        font-style: normal;
        font-weight: 720;
        line-height: 36px;
        letter-spacing: 0.56px;
        max-width: 350px;
    }
    .number{
        margin: 0;
    }
    .back img{
        width: 40px;
    }
    .small-text{
        font-size: 14px;
        font-style: normal;
        font-weight: 226;
        line-height: 20px;
        letter-spacing: 0.28px;
        max-width: 300px;
        margin-left: 30%;
    }
    h2{
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.48px;
        max-width: 320px;
    }
    .under-meme div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .n1, .anim-left, .anim-right p, ul{
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.32px;
        max-width: 320px;
    }
    footer {
        justify-content: flex-end !important;
        gap: 52px !important;
        background: url(../img/footer-bg.svg) no-repeat center !important;
        height: 470px !important;
    }
    footer svg{
        margin-bottom: 0;
    }
}