.main{
    height: 85px !important;
}
header{
    background-color: #F9FBFF !important;
}
.prevheader a:hover{
    color:#7A73FF !important;
}
.line980 {
    top: 320px;
    z-index: -1;
}
.cases-content{
    min-height: 680px;
}
.cases-content p {
    margin: 0;
    padding: 0;
    user-select: none;
}

.img-container img{
    width: 29px;
    height: 28px;
}

.cases-content .heading-container {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 24px;
    font-weight: 720;
    line-height: 28.8px;
    letter-spacing: 0.04em;
    text-align: left;
    font-variation-settings: 'wdth' 125, 'GRAD' 0, 'slnt' 0, 'XTRA' 487, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    color: #209DB7;
}

.cases-menu {
    display: flex;
    justify-content: space-between;
}

.cases-menu .cases-main-menu {
    display: flex;
}

.cases-menu .case-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto Flex', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: center;
    position: relative;
    padding-top: 16px;
    width: 192px;
    height: 88px;

    gap: 16px;
    border-radius: 8px;
}

.case-menu-item-random{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: center;
    position: relative;
    padding: 16px 70px 0;
    gap: 16px;
    border-radius: 8px;
    height: calc(100% - 16px);
}



.cases-menu .case-menu-item.active, .case-menu-item-random.active{

    box-shadow: 0px 4px 8px 0px #00000014;
    background: white;


    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: -48%;
        z-index: 1;
        margin-top: 4px; /* !importanté */
        height: 2px;
        width: 98%;
        border-radius: inherit;
        transform: translate(50%, 50%);/* !importanté */
        background: linear-gradient(250.96deg, #7A73FF -8.45%, #75CDFF 60.57%, #4AFCF1 106.88%);
    }
}

.info-tab {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

.tab-item {
    padding: 24px;
    box-sizing: border-box;
    height: 301px;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
    text-decoration: none;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 2;

    font-family: 'Roboto Flex', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 35.2px;
    letter-spacing: 0.04em;
    text-align: left;

    color: white;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -100px 100px -75px rgb(32 157 183 / 68)
}

.info-case-item{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transform: translateY(64px);
    transition: .2s linear;
}

.tab-item:hover .info-case-item{
    transform: none;
}

.hidden-button-case{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1.06px;
    text-align: left;
    text-decoration: none;

    display: flex;
    gap: 8px;
    padding: 8px 24px;
    border-radius: 16px;
    background: rgb(4, 16, 28);
    width: fit-content;
}

.gradient-line {
    position: absolute;
    top: 60%;
    left: 0;
    z-index: -1;
}
@media (max-width: 1680px) {
    .cases-menu {
        overflow: scroll;
    }
    .w-padding {
        box-sizing: border-box;
        padding: 0 196px;
    }
}
@media (max-width: 1280px) {
    .cases-content{
        min-height: 580px;
    }
    .cases-menu {
        overflow: scroll;
    }
    .w-padding {
        box-sizing: border-box;
        padding: 0 76px;
    }
}

@media (max-width: 1080px) {
    .cases-content{
        min-height: 520px;
    }
    .cases-menu {
        overflow: scroll;
    }
    .w-padding {
        box-sizing: border-box;
        padding: 0 52px;
    }
}

@media (max-width: 980px){
    .cases-content{
        min-height: 480px;
    }
    .cases-menu {
        overflow: scroll;
    }
    .w-padding {
        box-sizing: border-box;
        padding: 0px 52px;
    }

    .cases-menu .case-menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: 'Roboto Flex', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-align: center;
        position: relative;
        padding: 16px 50px;

        gap: 16px;
        border-radius: 8px;
    }
}

@media (max-width: 430px) {
    .cases-menu {
        overflow: scroll;
    }
    .w-padding {
        box-sizing: border-box;
        padding: 0px 16px;
    }
    .cases-menu .case-menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: 'Roboto Flex', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-align: center;
        position: relative;
        padding: 16px 22px;

        gap: 16px;
        border-radius: 8px;

    }
}
