header{
    background: none;
}
.main{
    height: 85px;
}
.readme{
    padding: 130px 325px 0;
    display: flex;
    flex-direction: column;
}
.readme-text{
    color: rgb(4, 16, 28);
    font-size: 72px;
    font-weight: 300;
    line-height: 72px;
    letter-spacing: 1.02px;
    text-align: left;
    margin: 0;
}
.readme-bold{
    font-weight: 700;
}
.gradient-line{
    overflow: hidden;
    position: relative;
}
.gradient-img{
    width: 130%;
    margin-left: -30%;
}
.gradient-line-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: fit-content;
    border-radius: 24px;
    padding: 24px;
    box-shadow: 2px -0.5px 4px 0 rgba(0, 0, 0, 0.05),-2px 4px 8px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    background: rgb(255, 255, 255);
    position: absolute;
}
.gradient-block-text{
    color: rgb(4, 16, 28);
    font-size: 24px;
    font-weight: 500;
    line-height: 26.4px;
    letter-spacing: 1.02px;
    text-align: left;
    margin: 0;
    max-width: 335px;
}

.first{
    top: 40%;
    left: 17.5%;
}
.second{
    top: 22%;
    left: 32%;
}
.third{
    top: 31%;
    left: 49%;
}
.fourth{
    top: 15%;
    left: 72%;
}
.small-text-form{
    color: #FFF!important;
    font-size: 48px!important;
    font-style: normal!important;
    font-weight: 500!important;
    line-height: 64px!important;
    letter-spacing: 1.04px!important;
    max-width: none!important;
}

@media screen and (max-width: 1680px){
    .first {
        top: 40%;
        left: 4.5%;
    }
    .second {
        top: 14%;
        left: 25%;
    }
    .third {
        top: 39%;
        left: 45%;
    }
    .fourth {
        top: 4%;
        left: 71%;
    }
    .readme{
        padding: 0 220px;
    }
}
@media screen and (max-width: 1440px) {

    .first {
    top: 40%;
    left: 4.5%;
    }
    .second {
    top: 14%;
    left: 25%;
    }
    .third {
    top: 39%;
    left: 45%;
    }
    .fourth {
    top: 4%;
    left: 71%;
    }
    .readme{
        padding: 0 100px;
    }
}
@media screen and (max-width: 1280px){
    .readme{
        padding: 0 92px;
    }
}
@media screen and (max-width: 980px) {
    .gradient-line {
        overflow: hidden;
        position: relative;
        height: 400px;
    }
    .readme{
        padding: 0 42px;
    }
    .gradient-img{
        width: 115%;
        margin-left: -15%;
    }
    .gradient-line-block{
        justify-content: center;
    }
    .first{
        top: 9%;
        left: 30%;
        height: 117px;
    }
    .second{
        top: 55%;
        left: 50%;
        height: 117px;
    }
    .third{
        top: 57%;
        left: 2%;
    }
    .fourth{
        top: 6%;
        left: 59%;
    }
}
@media screen and (max-width: 768px){
    .readme{
        padding: 0 65px;
    }
}
@media screen and (max-width: 480px){
    .readme{
        padding: 0 65px;
    }
    .readme-text {
        font-family: Roboto Flex;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;

    }
    .readme-bold {
        font-family: Roboto Flex;
        font-size: 32px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: left;
        color: #209DB7;
    }
    .gradient-line-block{
        align-items: center;
    }
    .line980 {
        position: absolute;
        display: block;
        rotate: -39deg;
        right: -337px;
        top: 486px;
        z-index: -1;
    }
    #svg1125{
        width: 1443px;
    }
    .gradient-line{
        overflow: hidden;
        position: relative;
        height: 900px;
    }
    .gradient-block-text{
        font-size: 20px;
        font-weight: 300;
        line-height: 110%;
        letter-spacing: 1.02px;
        max-width: 278px;
    }
    .gradient-img{
        width: 400%;
        margin-left: -150%;
        transform: rotate(-35.00deg);
        height: 1025px;
        margin-top: 30%;
    }
    .contacts-holder{
        padding: 0 16px 0 16px;
    }
    .first{
        top: 9%;
        left: 2%;
        height: unset;
        width: 55%;
    }
    .second {
        top: 84%;
        left: 31.5%;
        height: unset;
        width: 55%;
    }
    .third {
        top: 46%;
        left: 2%;
        width: 84.5%;
    }
    .fourth{
        top: 33%;
        left: 2%;
        width: 84.5%;
    }
    .readme{
        padding: 0 20px;
        margin-top: 35px;
    }
    .form {
        height: 1780px;
        background: url(../img/contqcts-footer-background.svg) no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 375px){
    .first{
        top: 9%;
        left: 2%;
        height: unset;
        width: 55%;
    }
    .second {
        top: 84%;
        left: 30%;
        height: unset;
        width: 55%;
    }
    .third {
        top: 59%;
        left: 2%;
        width: 83%;
    }
    .fourth{
        top: 33%;
        left: 2%;
        width: 83%;
    }
}