.main{
    height: 85px !important;
}
header{
    background-color: #F9FBFF !important;
}
.prevheader a:hover{
    color:#7A73FF !important;
}

.case-content p {
    margin: 0;
    padding: 0;

}

.case-headings-texts .case-category-name {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 24px;
    font-weight: 720;
    line-height: 28.8px;
    letter-spacing: 0.04em;
    text-align: left;
    font-variation-settings: 'wdth' 125, 'GRAD' 0, 'slnt' 0, 'XTRA' 487, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    color: #209DB7;
}

.case-headings-texts .case-name {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    letter-spacing: 0.04em;
    text-align: left;

}

.case-headings-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.case-image-container {
    margin-top: 36px;
}
.case-jobs-block {
    margin-top: 132px;
}
.case-gradient-line{
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 1790px;
    opacity: 0.8;
}
.case-gradient-line-mobile{
    display: none;
}
.case-image-container-content {
    position: relative;
}

.mg-bottom{
    margin-bottom: 72px;
}

.text-info{
    width: 100%;
}
.text-info p{
    font-size: 28px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
}
.right-p{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-p p{
    margin-left: 30px;
}

.case-image-container .case-big-image {
    width: 100%;
    border-radius: 20px;
}

.results-short-container {
    position: absolute;
    display: flex;
    bottom: 24px;
    left: 24px;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.06em;
    text-align: left;
    background: white;
    box-sizing: border-box;
    padding: 20px 44px;
    border-radius: 16px;
    max-width: 45%;
    gap: 24px
}

.case-small-heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    letter-spacing: 0.04em;
    text-align: left;
}

.job-process-content {
    display: flex;
    gap: 128px;
}

.job-process-content-side {
    margin-top: 48px;
    width: 50%;
}

.job-process-content .left-side {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.job-process-content-side .case-jobs-text {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0; right: 16px; bottom: 0; left: -16px;
        z-index: 1;
        margin-top: 4px; /* !importanté */
        height: 42px;
        width: 2px;
        border-radius: inherit;
        /*transform: translate(50%, 50%);!* !importanté *!*/
        background: linear-gradient(250.96deg, #7A73FF -8.45%, #75CDFF 60.57%, #4AFCF1 106.88%);
    }
}

.job-process-content .right-side {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.chart-tile {
    box-sizing: border-box;
    padding: 24px;
    background: white;
    box-shadow: 2px -0.5px 4px 0px #0000000D;
    border-radius: 24px;
    z-index: 10;
}

.chart-tile .chart-tile-text {
    margin-top: 16px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: 0.06em;
    text-align: left;
    opacity: 0.6;
}

.back-arrow-container {
    cursor: pointer;
}
.line980 {
    z-index: -1;
    margin-top: -6%;
}
@media (max-width: 1440px){
    .results-short-container {
        max-width: 70%;
    }
    .w-padding {
        box-sizing: border-box;
        padding: 0 86px;
    }
}
@media (max-width: 980px){
    .w-padding {
        box-sizing: border-box;
        padding: 0 52px;
    }
    .text-info {
        width: 100%;
    }

    .results-short-container {
        position: absolute;
        display: flex;
        bottom: 24px;
        left: 24px;
        font-size: 28px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.06em;
        text-align: left;
        background: white;
        box-sizing: border-box;
        padding: 14px 44px;
        border-radius: 16px;
        max-width: 70%;
        gap: 24px;
    }
    .job-process-content {
        display: flex;
        gap: 32px;
        flex-direction: column;
    }
    .job-process-content-side {
        margin-top: 28px;
        width: 100%;
    }
    .job-process-content .right-side {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
}

@media (max-width: 430px) {
    .case-headings-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .case-jobs-block {
        margin-top: 52px;
    }
    .back-arrow-container {
        width: 100%;
    }
    .case-gradient-line-mobile{
        display: block;
        width: 100%;
        position: absolute;
        top: -15%;
        width: 100%;
        z-index: -1;
        opacity: 0.8;
    }
    .case-gradient-line {
        display: none;
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 10%;
        opacity: 0.8;
    }
    .line980{
        display: none;
    }
    .stroj{
        font-size: 32px !important;
    }

    .prevheader-mobile {
        padding: 0px 14px;
    }

    .job-process-content {
        display: flex;
        flex-direction: column;
        gap: 46px;
    }

    .job-process-content-side {
        width: 100%;
    }
    .w-padding {
        padding: 0px 20px;
    }
    .chart-tile {
        box-sizing: border-box;
        padding: 15px;
        background: white;
        box-shadow: 2px -0.5px 4px 0px #0000000D;
        border-radius: 24px;
    }
    .case-headings-texts{

    }
    .right-p {
        gap: 35px;
    }
    .right-p p {
        margin-left: 0;
    }

    .job-process-content-side .case-jobs-text {
        &:before {
            content: '';
            position: absolute;
            top: -10px;
            right: 16px;
            bottom: 0px;
            left: -7px;
            z-index: 1;
            margin-top: 4px;
            height: 42px;
            width: 2px;
            border-radius: inherit;
            background: linear-gradient(250.96deg, #7A73FF -8.45%, #75CDFF 60.57%, #4AFCF1 106.88%);
        }
    }
    .case-headings-texts .case-category-name {
        font-size: 20px;
        font-weight: 720;
        line-height: 28.8px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #209DB7;
        margin-bottom: 12px;
    }
    .case-headings-texts .case-name {
        font-family: 'Roboto Flex', sans-serif;
        font-size: 22px !important;
        font-weight: 720;
        line-height: 36.8px;
        letter-spacing: 0.04em;
        text-align: left;
    }

    .job-process-content .right-side {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    .results-short-container {
        position: relative;
        display: flex;
        bottom: -20px;
        left: 0px;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.06em;
        text-align: left;
        font-variation-settings: 'wdth' 130, 'GRAD' 0, 'slnt' 0, 'XTRA' 487, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        background: white;
        box-sizing: border-box;
        padding: 20px 25px;
        border-radius: 16px;
        max-width: 100%;
        gap: 40px;
        box-shadow: 1px 2px 10px 0px #020C140A;
    }
    .case-headings-texts {}
    .form {
        flex-direction: column;
        justify-content: center;
        height: 1320px;
    }

    .chart-tile .chart-tile-text {
        margin-top: 16px;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.06em;
        text-align: left;
        font-variation-settings: 'wdth' 130, 'GRAD' 0, 'slnt' 0, 'XTRA' 487, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        opacity: 0.6;
    }


}



