.main{
    height: 85px!important;
}
header{
    background-color: #F9FBFF !important;
}
.prevheader a:hover{
    color:#7A73FF !important;
}
.services-start h1{
    color: #04101C;
    font-size: 72px;
    font-style: normal;
    font-weight: 720;
    line-height: 84px;
    letter-spacing: 2.88px;
}
.services-start h2{
    color: #04101C;
    font-size: 56px;
    font-style: normal;
    font-weight: 720;
    line-height: 64px;
    letter-spacing: 2.24px;
}
.services-start p{
    margin-top: 50px;
    max-width: 298px;
    color: #04101C;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.64px;
    width: fit-content;
}
.services-start{
    padding: 0 325px;
}
.changing{
    padding: 35px 325px;
}
.selected{
    color: #7A73FF!important;
}
.op-1{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
}
#opacity-first{
    display: flex;gap:150px
}
@keyframes opacity-disable{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        display: none;
    }
}
@keyframes opacity-enable{
    from{
        opacity: 0;
    }
    to{
        display: flex;
        opacity: 1;
    }
}
.anim-opacity-enable, .anim-opacity-disable {
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.anim-opacity-enable {
    animation-name: opacity-enable;
}

.anim-opacity-disable {
    animation-name: opacity-disable;
}
#changing-1, #changing-2, #changing-3, #changing-4, #changing-5, #changing-6, #changing-7, #changing-8, #changing-9, #changing-10, #changing-11, #changing-12, #changing-13{
    cursor: pointer;
    transition: .2s linear;
}
#changing-1:hover, #changing-2:hover, #changing-3:hover, #changing-4:hover, #changing-5:hover, #changing-6:hover, #changing-7:hover, #changing-8:hover, #changing-9:hover, #changing-10:hover, #changing-11:hover, #changing-12:hover, #changing-13:hover{
    color: #7A73FF;
}
#smm{
    display: flex;
    flex-direction: column;
}
#media, #advertisement, #orm, #orm-strategy, #monitoring, #analysis, #reviews, #serm, #social, #representative, #it, #moushen{
    display: none;
    flex-direction: column;
}
h2 a{
    text-decoration: none;
    color:#04101C;
}
.changing h1{
    color: #04101C;
    font-size: 72px;
    font-style: normal;
    font-weight: 720;
    line-height: 84px;
    letter-spacing: 2.88px;
}
.opacity-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.changing p{
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.56px;
    max-width: 655px;
}
.under-svg{
    color: #000!important;
    font-size: 20px!important;
    font-style: normal!important;
    font-weight: 226!important;
    line-height: 28px!important;
    letter-spacing: 0.4px!important;
    max-width: 444px!important;
}
nonclickable{
    display: inline-flex;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 1px 2px 10px 0 rgba(2, 12, 20, 0.04);
    width: fit-content;
    color: #04101C;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1.68px;
}
nonclickable svg{
    overflow: initial;
}
.changing a{
    display: inline-flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #00D4FF;
    color: #04101C;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1.44px;
    max-width: 266px;
    text-decoration: none;
    margin-top: 100px;
    transition: 0.4s;
}
.changing a:hover{
    background: #00b2d7;
}
.changing li{
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.56px;
    max-width: 702px;
}
.opacity-block ol{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.opacity-block-svg div div{
    position: relative;
}
.opacity-block-svg div div a{
    background: none;
    cursor: pointer;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.opacity-block-svg div div a:hover{
    background: none;
}
.opacity-block-svg div div a img{
    position: relative;
}
.opacity-block-svg div div img{
    position: absolute;
}
.advertisment{
    margin-top: 203px!important;
    margin-left: -12px!important;
}
.context{
    margin-top: 177px!important;
    margin-left: 166px !important;
}
.lines{
    z-index: 0;
}
.target{
    margin-right: 116px!important;
    margin-top: -18px!important;
}
.line-big-adv{
    margin-top: 124px;
    margin-left: 124px;
}
.line-small-adv{
    margin-top: 279px;
    margin-left: 124px;
}
.monitoring{
    margin-top: -30px!important;
    margin-left: 42px!important;
}
.socials{
    margin-left: 172px !important;
    margin-top: -30px!important;
}
.SERM{
    margin-top: 244px!important;
    margin-left: -8px!important;
}
.ORM{
    margin-top: 103px!important;
    margin-left: 120px!important;
}
.ratings{
    margin-left: 220px !important;
    margin-top: 95px!important;
}
.analitics{
    margin-top: 95px!important;
    margin-left: -8px!important;
}
.ORM-strategy{
    margin-top: 236px!important;
    margin-left: 90px!important;
}
.main-human{
    margin-top: 238px!important;
    margin-left: 198px!important;
}
.line1-orm{
    margin-left: 135px!important;
    margin-top: 72px!important;
}
.line2-orm{
    margin-left: 185px!important;
    margin-top: 69px!important;
}
.line4-orm{
    margin-left: 187px!important;
    margin-top: 169px!important;
}
.line5-orm{
    margin-left: 162px!important;
    margin-top: 205px!important;
}
.line6-orm{
    margin-left: 47px!important;
    margin-top: 180px!important;
}
.opacity-block ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 18px 0 64px;
}
.opacity-block ul li{
    display: flex;
    gap: 24px;
    position: relative;
    align-items: center;
}

.opacity-block ul li:before{
    content: "";
    min-width: 4px;
    height: 40px;
    border-radius: 4px;
    background: url("../img/before-li.svg") no-repeat;
    background-size: cover;
    white-space: nowrap;
}
.android{
    margin-top: -21px!important;
    margin-left: 41px!important;
}
.programs{
    margin-top: -20px!important;
    margin-left: 156px!important;
}
.it{
    margin-top: 112px!important;
    margin-left: 84px!important;
}
.site{
    margin-top: 108px!important;
    margin-left: 243px!important;
}
.crm{
    margin-top: 245px!important;
    margin-left: -4px!important;
}
.develop{
    margin-top: 245px!important;
    margin-left: 174px!important;
}
.line1-it{
    margin-top: 81px!important;
    margin-left: 111px!important;
}
.line2-it{
    margin-top: 78px!important;
    margin-left: 160px!important;
}
.line3-it{
    margin-top: 166px!important;
    margin-left: 160px!important;
}
.line4-it{
    margin-top: 178px!important;
    margin-left: 161px!important;
}
.line5-it{
    margin-top: 178px!important;
    margin-left: 60px!important;
}
.video{
    margin-top: -2px!important;
    margin-left: 53px!important;
}
.firm{
    margin-top: 6px!important;
    margin-left: 190px !important;
}
.d3{
    margin-top: 127px!important;
    margin-left: 3px!important;
}
.moushen{
    margin-top: 128px!important;
    margin-left: 130px!important;
}
.creative{
    margin-top: 253px!important;
    margin-left: 21px!important;
}
.adv{
    margin-left: 208px !important;
    margin-top: 253px!important;
}
.line1-mousen{
    margin-top: 85px!important;
    margin-left: 163px!important;
}
.line2-mousen{
    margin-top: 98px!important;
    margin-left: 218px!important;
}
.line3-mousen{
    margin-top: 177px!important;
    margin-left: 110px!important;
}
.line4-mousen{
    margin-top: 222px!important;
    margin-left: 131px!important;
}
.line5-mousen{
    margin-top: 224px!important;
    margin-left: 174px!important;
}
@media screen and (max-width: 1680px){
    .services-start{
        padding: 0 220px;
    }
    .changing{
        padding: 35px 200px;
    }
}
@media screen and (max-width: 1440px) {
    .op-1{
        gap: 0;
    }
    .opacity-block{
        gap: 0;
    }
    .services-start{
        padding: 0 100px;
    }
    .changing{
        padding: 35px 100px;
    }
}
@media screen and (max-width: 980px) {
    .services-start{
        padding: 0 92px;
    }
    .changing{
        padding: 35px 92px;
    }
    #opacity-first {
        gap: 0;
    }
    .opacity-block{
        flex-direction: column;
    }
    .opacity-block-svg{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .under-svg{
        width: 332px!important;
        margin-right: auto;
    }
    nonclickable{
        color: #04101C;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 1.68px;
        margin-top: 50px;
    }
}
@media screen and (max-width: 720px){
    .op-1{
        justify-content: normal;
        flex-direction: column;
    }
    .changing h1{
        font-size: 52px;
        font-style: normal;
        font-weight: 720;
        line-height: 60px;
        letter-spacing: 1.04px;
    }
    .changing p{
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.4px;
        max-width: 538px;
    }
    .under-svg{
        font-size: 16px!important;
        font-style: normal!important;
        font-weight: 226!important;
        line-height: 24px!important;
        letter-spacing: 0.32px!important;
        max-width: 279px!important;
    }
    nonclickable{
        padding: 12px 24px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.8px;
    }
    .changing a{
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0.8px;
        padding: 16px 28px;
        width: fit-content;
    }
    .services-start{
        padding: 0 65px;
    }
    .changing{
        padding: 35px 65px;
    }
}
@media screen and (max-width: 480px) {
    .form {
        height: 1200px !important;
    }
    .services-start{
        padding: 0 20px;
    }
    .changing{
        padding: 35px 20px;
    }
    .services-start h1{
        font-size: 40px;
        font-style: normal;
        font-weight: 720;
        line-height: 44px;
        letter-spacing: 0.8px;
    }
    .services-start h2{
        font-size: 28px;
        font-style: normal;
        font-weight: 720;
        line-height: 36px;
        letter-spacing: 0.56px;
        margin: 0;
    }
    .services-start p{
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.48px;
        margin: 0;
    }
    .op-1{
        gap: 36px;
    }
    .op-1 div{
        display: flex;
        flex-direction: column;
        gap: 36px;
    }
    .opacity-block-svg{
        align-items: stretch;
        flex-direction: column;
    }
    .changing{
        padding-top: 50px;
    }
    .changing h1{
        font-size: 40px;
        font-style: normal;
        font-weight: 720;
        line-height: 44px;
        letter-spacing: 0.8px;
    }
    .changing p{
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.32px;
        max-width: 300px;
    }
    .opacity-block-svg svg{
        width: 340px;
    }
    .under-svg{
        font-size: 14px!important;
        font-style: normal!important;
        font-weight: 226!important;
        line-height: 20px!important;
        letter-spacing: 0.28px!important;
        max-width: 225px!important;
    }
    nonclickable{
        padding: 12px 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
    }
    nonclickable svg{
        width: 28px;
        height: 28px;
    }
    .changing a{
        padding: 16px 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.64px;
        margin-top: 28px;
    }
}