body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto Flex', sans-serif;
    margin: 0 auto;
    background-color: #F9FBFF;
}
html{
    scroll-behavior: smooth;
}
.main-bg{
    background: url('img/main-bg.svg') no-repeat center;
    background-size: cover;
}
header{
    background-color: white;
}
.header{
    display: flex;
    height: 85px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header a{
    text-decoration: none;
    color: black;

}
img{
    pointer-events: none;
}
svg{
    pointer-events: none;
}
.main{
    width: 100%;
    height: 603px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prevheader{
    display: flex;
    gap: 44px;
    font-size: 20px;
    z-index: 2;
}
.prevheader-mobile{
    display: none;
}
.mobile-menu{
    display: none;
}
.prevheader a{
    transition: 0.4s;
}
.prevheader a:hover{
    color:white;
}
.enter{
    width: 144px;
    height: 56px;
    background: white;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    transition: 0.4s;
}
.enter:hover{
    background: #e7e7e7;
}
.start p {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.64px;
}
.start a{
    text-decoration: none;
    color: white;
    background: #04101C;
    display: inline-flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1.44px;
    transition: 0.4s;
}
.start a:hover{
    background:#000000;
}
.start{
    width: 100%;

    height: 600px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.companies{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 32px
}
.under-companies{
    display: flex;
    flex-wrap: wrap;
    max-width: 1282px;
    justify-content: center;
    gap: 116px;
}
.under-companies-mobile{
    display: none;
}
.tiles{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 85px 0;
}
.tiles h1{
    color: #04101C;
    max-width: 425px;
    font-size: 56px;
    font-style: normal;
    font-weight: 720;
    line-height: 64px;
    letter-spacing: 2.24px;
}
.tiles-single{
    display: inline-flex;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 1px 2px 10px 0 rgba(2, 12, 20, 0.04);
    color: #04101C;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1.68px;
}
.tiles-1 p{
    color: #04101C;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.56px;
    max-width: 491px;
}
.tiles-2-mobile{
    display: none;
}
.blocks {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
    transition: .5s linear;
    width: 638px;
    height: 826px;
}
.blockss{
    display: flex;
    gap: 77px;
    position: relative;
    align-items: center;
    width: max-content;
    height: 66px;
}
.blocksss{
    padding: 18px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation span{
    max-width: 95px;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.24px;
    display: inline-block;
}

.block-first, .block-second{
    left: 66px;
}
.block-fourth{
    left: 88px;
}
.block-fifth{
    left: 58px;
}
.block-sixth{
    left: 104px;
}
.lines{
    position: absolute;
}
.line{
    position: absolute;
    z-index: -1;
}
/*.line svg path{
    stroke: black;
}*/
.animation {
    position: relative;
    width: fit-content;
    border: rgb(236, 236, 236) solid 1px;
    padding: 18px;
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 1px 2px 10px 0 rgba(2, 12, 20, 0.04);
}

.animation-size-controller {
    opacity: 0;
    display: flex;
    flex-direction: column;
    max-width: 32px;
    max-height: 32px;
    transition: max-width 1s linear, max-height 1s linear;
    transform-origin: center center!important;
}
.animation-size-controller img{
    width: 28px;
    height: 28px;
}

.animation .animation-hidden {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation .animation-shown {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation-shown {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease-out, width .5s ease-out, height .5s ease-out;
    -moz-transition: opacity .5s ease-out, width .5s ease-out, height .5s ease-out;
    -webkit-transition: opacity .5s ease-out, width .5s ease-out, height .5s ease-out;
    -o-transition: opacity .5s ease-out, width .5s ease-out, height .5s ease-out;
}

.animation-shown img {
    transition: width .5s ease-out, height .5s ease-out;
    -moz-transition: width .5s ease-out, height .5s ease-out;
    -webkit-transition: width .5s ease-out, height .5s ease-out;
    -o-transition: width .5s ease-out, height .5s ease-out;
}

.animation-shown img.show {
    transition: width .5s ease-out, height .5s ease-out;
    -moz-transition: width .5s ease-out, height .5s ease-out;
    -webkit-transition: width .5s ease-out, height .5s ease-out;
    -o-transition: width .5s ease-out, height .5s ease-out;
}

.animation-shown:hover{
    opacity: 1;
}
.animation:hover .animation-size-controller{
    transform-origin: center center!important;
    max-width: 1000px;
    max-height: 1000px;
    transition: max-width .5s linear, max-height .5s linear;
}

.animation-hidden {
    opacity: 1;
    transition: opacity .5s ease-out, width .5s ease-out, height .5s ease-out;
    -moz-transition: opacity .5s ease-out, width .5s ease-out, height .5s ease-out;
    -webkit-transition: opacity .5s ease-out, width .5s ease-out, height .5s ease-out;
    -o-transition: opacity .5s ease-out, width .5s ease-out, height .5s ease-out;
}

.animation-hidden img {
    transition: width .5s ease-out, height .5s ease-out;
    -moz-transition: width .5s ease-out, height .5s ease-out;
    -webkit-transition: width .5s ease-out, height .5s ease-out;
    -o-transition: width .5s ease-out, height .5s ease-out;
}

.animation-hidden img.hide {
    transition: width .5s ease-out, height .5s ease-out;
    -moz-transition: width .5s ease-out, height .5s ease-out;
    -webkit-transition: width .5s ease-out, height .5s ease-out;
    -o-transition: width .5s ease-out, height .5s ease-out;
}

.animation-hidden.hide {
    opacity: 0;
}

.case{
    background: url("img/case.svg") no-repeat center;
    height: 1247.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
}
.case h1{
    color: #FFF;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 2.88px;
}
.case h2{
    color: #FFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 720;
    line-height: 64px;
    letter-spacing: 2.24px;
    max-width: 343px;
}
.case p{
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.56px;
    max-width: 300px;
}
.case .car{
    width: 721px;
    height: 504px;
    border-radius: 20px 0 0 20px;
}
.case nonclickable{
    display: inline-flex;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 1px 2px 10px 0 rgba(2, 12, 20, 0.04);
    color: #04101C;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1.68px;
}
.case a{
    display: inline-flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #00D4FF;
    color: #04101C;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1.44px;
    text-decoration: none;
    max-width: 188px;
    margin-top: 50px;
    transition: 0.4s;
}
.case a:hover{
    background: #00b2d7;
}
#blog{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 200px;
}
#blog h1{
    color: #04101C;
    font-size: 72px;
    font-style: normal;
    font-weight: 720;
    line-height: 84px;
    letter-spacing: 2.88px;
    margin-block-start: 0;
}
.blog-text div{
    display: flex;
    gap: 20px;
}
.blog-text .first{
    color: #04101C;
    font-size: 16px;
    font-style: normal;
    font-weight: 231;
    line-height: 16px;
    letter-spacing: 1.6px;
}
.blog-text .second{
    color: #04101C;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.56px;
    max-width: 573px;

}
.blog-text-button{
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #04101C;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1.44px;
    text-decoration: none;
    max-width: 230px;
    margin-top: 50px;
    transition: 0.4s;
}
.blog-text-button:hover{
    background: #000000;
}
.daynet{
    padding-top: 300px;
    height: 1250px;
}
.daynet svg{
    margin-left: 308px;
}
.daynet img{
    width: 100%;
    height: 1133px;
}
.daynet p{
    color: #04101C;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1.68px;
    margin-block-end:0;
}
.daynet div{
    position: absolute;
    color: #7A73FF;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1.68px;
}
.bunny-mobile{
    display: none;
}
.form{
    height: 1300px;
    background: url("img/form-bg.svg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    grid-gap: 300px;
}
.forma{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 10%;
}
.form img{
    pointer-events: none;
    margin-left: -25px;
    z-index: 1;
}
.form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    margin-top: 200px;
    z-index: 2;
}
.form-info{
    display: flex;
    gap: 32px;
    margin-top: 10px;
    flex-direction: column;
}
.form-info div{
    display: flex;
    gap: 30px;
}
.form-info p{
    color: #FFF!important;
    font-size: 28px!important;
    font-style: normal!important;
    font-weight: 300!important;
    line-height: 36px!important;
    letter-spacing: 1px!important;
    max-width: 230px!important;
}
.form p{
    color: #FFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 720;
    line-height: 64px;
    letter-spacing: 2.24px;
    max-width: 200px;
    margin-block-end: 0;
}
.form form input{
    color: rgb(246, 249, 252);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0 8px 16px;
    width: 415px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid #F9FBFF;
    background: transparent;
    font-size: 20px;
}

.input-checkbox{
    display: flex;
    height: 20px;
}
.input-checkbox span{
    margin-top: 22px;
    margin-left: 20px;
}
input[type="checkbox"] {
    display: none !important;
}
label {
    color: #FFFFFF;
    cursor: default;
    width: 18px;
    height: 18px;
    margin-top: 20px;
    margin-left: 15px;
}
label:before {
    content: " ";
    color: #FFFFFF;
    display: flex;
    margin-right: 15px;
    width: 18px;
    height: 18px;
    background: transparent;
    border: 2px solid #00D4FF;
    border-radius: 2px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.checkbox:checked + label:before {
    content: url("img/check_small.svg");
    background-color: #00D4FF;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}
.form button{
    all: unset;
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00D4FF;
    color: #04101C;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1.44px;
    margin-top: 70px;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.4s;
}
.form button:hover{
    background: #00b2d7;
}
.form a{
    color: #00D4FF;
}
.for-text-upper-input p{
    position: absolute;
    background-color: #04101C;
    color: #F9FBFF;
    width: fit-content;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-top: -7px;
    margin-left: 10px;
    padding-left: 4px;
    padding-right: 4px;

}
.form span{
    color: #00D4FF;
}

::-webkit-input-placeholder{
    color:rgba(246, 249, 252, 0.60);
}
footer{
    display: flex;
    background: #04101C;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    gap: 900px;
    flex: 0 0 auto;
}
footer p{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.24px;
    text-align: center;
}

.bunny{
    position:absolute; z-index: 1; margin-top: -350px; margin-left: 100px
}
.under-case{
    margin-left: 16%;
    display: flex;
    flex-direction: column;
}
.daynet-1{
    margin-left: 20%; margin-top: 290px
}
.daynet-2{
    margin-left: 45.5%; margin-top: 1065px
}
.daynet-3{
    margin-left: 67.5%; margin-top: 770px
}
.daynet-4{
    margin-left: 78%;margin-top: -20px;text-align: right
}
.form img{
    width: 900px;
}
.logo{
    margin-left: 15%;
}
.daynet-texts{
    width: 100%;
}
@media screen and (max-width: 1440px){
    .form{
        grid-gap: 200px;
    }
}
@media screen and (max-width: 1280px) {
    .start{
        gap: 90px;
        padding-top: 0;
        margin-top: -20px;
    }
    .start svg{
        width: 445px;
    }
    .companies{
        gap: 32px;
        padding-top: 100px;
    }

    .tiles-1{
        margin-left: 20px;
    }
    .bunny{
        display: none;
    }
    .under-case{
        margin-left: 100px;
    }
    .case .car{
        width: 650px;
        height: 100%;
        margin-top: -150px;
    }
    .daynet svg{
        margin-left: 170px;
    }
    .daynet-4{
        margin-left: 76%;
    }
    #blog{
        gap: 200px;
    }
    .form{
        align-items: center;
        gap: 100px;
    }
    .form img{
        width: 700px;
    }
    footer{
        gap: 300px;
    }
}
@media screen and (max-width: 1080px){
    .case .car{
        width: 500px;
    }
}
@media screen and (max-width: 980px) {
    .start{
        gap:100px;
        padding-top: 0;
        margin-top: -20px;
    }
    .start svg{
        width: 410px;
    }
    .start img{
        width: 400px;
    }
    .logo{
        position: absolute;
        display: flex;
        gap: 45px;
        flex-direction: column;
        z-index: 2;
        margin-left: 10%;
        margin-top: 225px;
    }
    .g{
        margin-left: 560px;
    }
    .companies{
        gap: 32px;
        padding-top: 150px;
    }
    .tiles{
        align-items: normal;
        flex-direction: column;
    }

    .tiles-1{
        margin-left: 50px;
    }
    .bunny{
        display: none;
    }
    .under-case{
        margin-left: 100px;
    }
    .case .car{
        max-width: 100%;
        height: 100%;
        margin-top: -150px;
    }
    .case nonclickable{
        max-width: 524px;
    }

    .daynet img{
        margin-top: 150px;
        width: 100%!important;
        height: 560px!important;
    }
    .daynet svg{
        margin-left: 90px;
    }
    #blog{
        gap: 50px;
    }
    .blog-text .second{
        font-size: 24px;
        max-width: 573px;
    }
    .blog-text-button{
        display: flex;
        padding: 16px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .form{
        align-items: center;
        gap: 50px;
    }
    .form img{
        width: 509px;
    }
    .form form input{
        width:350px
    }
    footer{
        gap: 300px;
    }
    .form span{
        color: #00D4FF;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.24px;
    }
    .daynet-1{
        margin-left: 19%;
        margin-top: 210px;
    }
    .daynet-2{
        margin-left: 44.25%;
        margin-top: 700px;
    }
    .daynet-3{
        margin-left: 66.5%;
        margin-top: 560px;
    }
    .daynet-4{
        margin-left: 73%;
        margin-top: 50px;
    }
}
@media screen and (max-width: 720px){
    #close-mobile-header{
        pointer-events: unset;
        cursor: pointer;
    }
    .main{
        height: 420px;
    }
    .prevheader-mobile{
        display: flex;
        height: 85px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 200px;
    }
    .main-bg{
        background: url('img/main-bg-720.svg') no-repeat center;
        background-size: cover;
    }
    .prevheader{
        display: none;
    }
    .logo{
        margin-top: 250px;
    }
    .underlogo-text{
        margin-top: 0;
    }
    .enter{
        display: none;
    }
    #mobile-header-button{
        all: unset;
        cursor: pointer;
    }
    .mobile-menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100%;
        background: #FFFFFF;
        z-index: 3;
        right: 0;
        width: 204px;
        bottom: 0;
        align-items: flex-end;
        gap: 68px;
        padding-right: 20px;
    }
    .mobile-links a{
        color: black;
    }
    .mobile-links{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 28px;
        width: 100%;
    }
    .mobile-links a{
        color: #04101C !important;
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 500 !important;
        line-height: 14px !important;
        letter-spacing: 0.28px !important;
        padding: 0 !important;
    }
    .enter-mobile{
        display: flex !important;
        padding: 12px 28px !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 10px !important;
        color: #FFF !important;
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 500 !important;
        line-height: 14px !important;
        letter-spacing: 0.28px !important;
        border-radius: 8px !important;
        background: #7A73FF !important;
    }
    .tiles h1{
        max-width: 556px;
        font-size: 40px;
        font-style: normal;
        font-weight: 720;
        line-height: 44px;
        letter-spacing: 0.8px;
        width: unset;
    }
    .tiles-single{
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.8px;
    }
    .tiles-1 p{
        width: unset;
        max-width: 570px;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.4px;
    }
    .tiles-2{
        scale: .7;
    }
    .case h1{
        font-size: 52px;
        font-style: normal;
        font-weight: 720;
        line-height: 60px;
        letter-spacing: 1.04px;
    }
    .case h2{
        font-size: 40px;
        font-style: normal;
        font-weight: 720;
        line-height: 44px;
        letter-spacing: 0.8px;
    }
    .case p{
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.4px;
        margin-top: 350px;
    }
    .case{
        height: 1210px;
    }
    .case nonclickable{
        display: inline-flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 16px;
        background: #FFF;
        box-shadow: 1px 2px 10px 0 rgba(2, 12, 20, 0.04);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.8px;
        max-width: 324px;
    }
    .case .car{
        margin-top: -100px;
        margin-left: -550px;
        width: 610px;
        height: 350px;
        max-width: unset;
    }
    #blog h1{
        font-size: 52px;
        font-style: normal;
        font-weight: 720;
        line-height: 60px;
        letter-spacing: 1.04px;
    }
    .blog-text .second{
        max-width: 271px;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.4px;
    }
    .blog-text-button{
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0.8px;
        width: fit-content;
    }
    .daynet-4{
        margin-left: 73.5%;
        margin-top: 75px;
    }
    .daynet-1{
        margin-top: 245px;
    }
    .daynet-2{
        margin-top: 690px;
    }
    .daynet-3{
        margin-top: 545px;
    }
    .daynet p{
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.8px;
    }
    .daynet{
        height: 900px;
    }
    .daynet div{
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.8px;
    }
    .form img{
        width: 250px;
        margin-top: -200px;
    }
    .form p{
        font-size: 40px;
        font-style: normal;
        font-weight: 720;
        line-height: 44px;
        letter-spacing: 0.8px;
        width: unset;
    }
    .for-text-upper-input p{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.24px;
    }
    .form form input{
        font-size: 16px;
        font-style: normal;
        font-weight: 226;
        line-height: 24px;
        letter-spacing: 0.32px;
        height: 40px;
    }
    footer p{
        max-width: 250px;
    }
    footer{
        gap: 100px;
    }
    .main a{
        padding: 16px 28px;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0.8px;
    }
}
@media screen and (max-width: 660px){
    .form form input{
        width: 250px;
    }
    .case .car{
        width: auto;
        margin-left: -500px;
    }
}
@media screen and (max-width: 480px){
    .prevheader-mobile{
        gap: 100px;
    }
    .main-bg{
        background-position: right;
    }
    .start img{
        width: 319px;
    }
    .start p{
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.48px;
        max-width: 200px;
    }
    .logo{
        margin-left: 5%;
        gap: 150px;
        margin-top: 250px;
    }
    .companies{
        padding-top: 200px;
    }
    .under-companies{
        display: none;
    }
    .under-companies-mobile{
        display: flex;
        flex-wrap: wrap;
        max-width: 337px;
        justify-content: center;
        gap: 22.5px;
        padding: 24px 0;
    }
    .tiles h1{
        font-size: 28px;
        font-style: normal;
        font-weight: 720;
        line-height: 36px;
        letter-spacing: 0.56px;
        max-width: 301px;
    }
    .tiles-1{
        margin-left: 5%;
    }
    .tiles-2{
        display: none;
    }
    .tiles-2-mobile{
        display: flex;
    }
    .tiles p{
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.32px;
    }
    .tiles-single{
        padding: 12px 20px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
    }
    .tiles-single svg{
        width: 28px;
        height: 28px;
    }

    .under-case{
        margin-left: 5%;
    }
    .case h1{
        font-size: 40px;
        font-style: normal;
        font-weight: 720;
        line-height: 44px;
        letter-spacing: 0.8px;
    }
    .case{
        height: 1046px;
    }
    .case h2{
        font-size: 28px;
        font-style: normal;
        font-weight: 720;
        line-height: 36px;
        letter-spacing: 0.56px;
        max-width: 155px;
    }
    .case .car{
        width: 400px;
        height: unset;
        margin-left: -340px;
        margin-top: -110px;
    }
    .case p{
        margin-top: 275px;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.32px;
        max-width: 269px;
    }
    .case nonclickable{
        padding: 12px 20px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
    }
    .case nonclickable svg{
        width: 28px;
        height: 28px;
    }
    .case a{
        padding: 16px 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.64px;
        max-width: 110px;
    }
    #blog{
        flex-direction: column;
        padding-top: 50px;
        padding-left: 5%;
        gap: 43px;
    }
    #blog h1{
        font-size: 40px;
        font-style: normal;
        font-weight: 720;
        line-height: 44px;
        letter-spacing: 0.8px;
        margin-block-end: 0;
    }
    .daynet{
        height: 495px;
        padding-top: 86px;
    }
    .daynet svg{
        width: 160px;
        margin-left: 5%;
    }
    .daynet img{
        height: 300px!important;
        margin-top: 100px;
    }
    .daynet div{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
    }
    .daynet p{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
    }
    .daynet-1{
        margin-top: 125px;
    }
    .daynet-2{
        margin-top: 385px;
    }
    .daynet-3{
        margin-top: 308px;
    }
    .daynet-4{
        margin-left: 65.5%;
        margin-top: 35px;
    }
    .form{
        flex-direction: column;
        justify-content: center;
        height: 1050px;
    }
    .form img{
        width: 340px;
        margin: auto auto 0 0;
    }
    .bunny-mobile{
        display: block;
    }
    .default-bunny{
        display: none;
    }
    .form form{
        margin-top: unset;
        margin-left: unset;
    }
    .form p{
        font-size: 28px;
        font-style: normal;
        font-weight: 720;
        line-height: 36px;
        letter-spacing: 0.56px;
        max-width: unset;
    }
    .for-text-upper-input p{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.24px;
    }
    .form form input{
        width: 340px;
        font-size: 14px;
        font-style: normal;
        font-weight: 226;
        line-height: 20px;
        letter-spacing: 0.28px;
        padding: 8px 0 8px 16px;
    }
    .form button{
        padding: 16px 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.64px;
        margin-top: 35px;
    }
    .form-info{
        flex-direction: row;
    }
    .form-info p{
        font-size: 16px!important;
        font-style: normal!important;
        font-weight: 300!important;
        line-height: 24px!important;
        letter-spacing: 0.32px!important;
        max-width: 140px!important;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start!important;
        gap: 52px;
        height: 250px;
    }
    footer p{
        text-align: left;
    }
    footer p, footer svg{
        margin-left: 5%;
    }
}
@media screen and (max-width: 380px){
    .case .car{
        width: 350px;
    }
    .prevheader-mobile{
        gap: 70px;
    }
    .form form input{
        width: 320px;
    }
    .forma{
        margin-right: 0;
    }
    .tiles-2-mobile img{
        height: 100px;
    }
}